:root {
    --ctrl-color: #f9ca24; /* #ffa600;*/
    --bg-yellow: #f6e58d;
    --txt-color: #4f2816;
    --frame-color:  rgba(139, 69, 19, 0.478);
    --icon-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Red Hot Chili', sans-serif; */
    font-family: 'zabarsregular', arial;
    font-size: 1.33rem;
    font-weight: 100;
}

* [disabled] {
    color: #aaa;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url('../img/Intro_Outro/start_screen/screen1.png'); */
    background-image: url('../img/Intro_Outro/desert2_1920x1080.jpg');
    /* background-position: center; */
    min-height: 100vh;
    overflow: hidden;
}

canvas {
    background-color: black;
    margin-top: 0.75rem;
}

/* #################################################################### */
/*                        H O M E - S C R E E N                         */
/* #################################################################### */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    overflow: auto;
    position: relative;
    background-image: url('../img/Intro_Outro/desert1_1920.png');
    padding: 2rem 4rem;
    background-color: var(--bg-yellow);
    opacity: 0.95;
}

.home a {
    text-decoration: none;            
    color: unset;
}

.home-navbar {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
}

.home-icons {
    margin: 2rem;
    width: 192px;
    height: 192px;
    cursor: pointer;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.home-icons:hover, h1 {
    text-shadow: 4px 4px 4px #666;
}

.home-icons h3 {
    position: absolute;
    left: 50%;
    top: 110%;
    bottom: -2rem;
    font-size: 2rem;
    transform: translate(-50%, -50%); /* center content*/
}

.home-icons.start {
    background-image: url('../img/Status/door0.png');
}

.home-icons.start:hover {
    background-image: url('../img/Status/door1.png');
}

.home-icons.start:hover h3 {
    top: 35%;
    transition: ease-in-out 333ms;
}

.home-icons.home-settings {
    background-image: url('../img/Status/wheel0.png');    
}

.home-icons.home-settings:hover, .loading {
    background-image: url('../img/Status/wheel.png');
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.h3-loading {
    margin-top: 1rem;
    margin-left: 1.75rem;
}

.home-icons.help {
    background-image: url('../img/Status/signpost0.png');
}
.home-icons.help:hover {
    background-image: url('../img/Status/signpost1.png');
}

.home-icons.help:hover h3 {
    transform: rotate(-10deg);
    top: 14%;
    left: 30%;
    transition: ease-in-out 333ms;
}

.progress-bar {
    position: absolute;
    margin: 0;
}

.desktop, .mobile {
    font-size: 5rem;
    text-align: center;
}

.intro {
    background-color: var(--bg-yellow);
    background-image: none; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 1;
    transition: opacity 4s; 
}

.intro.fade {
    opacity: 0;
}

.intro h1 {
    font-size: 8rem;
    color: var(--txt-color);
}

/* #################################################################### */
/*                             C A N V A S                              */
/* #################################################################### */
.canvas-frame {
    position: relative;
    width: 956px; /* 1020px; */
    height: 700px; /* 680px; */    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 1rem; */
    background-image: url('../img/Status/frame0_984x720.png');
    background-color: var(--frame-color);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 12px 12px 24px var(--frame-color);
    border-radius: 12px;
}

.statusbar {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.statusbar-left {
    /* position: absolute; */
    /* margin: 1rem; */
    /* margin-left: 5rem; */
    padding-top: 0.25rem;
    /* top: 1rem;
    left: 1rem; */
    display: flex;
    align-items: center;
    align-self: flex-start;
    /* padding: 0.33rem 0; */
    font-size: 0.8rem;
}

.statusbar-right {
    /* margin-right: 5rem; */
    padding-top: 0.25rem;
    display: flex;
    align-self: flex-end;
}

.status-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0 0.25rem;   
    filter: contrast(1.33); 
}

.status-icon-text {
    display: flex;
    align-items: center;
    gap: 2px;
}

.status-icon-text label {
    padding-top: 0.2rem;
    font-size: 1rem;
    font-weight: 100;
    color: aliceblue;
}

/* flash-animation-class */
.flash {
    -moz-transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    /* order: name, direction, duration, iteration-count, timing-function */  
    -moz-animation: blink normal 750ms infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 750ms infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 750ms infinite ease-in-out; /* IE */
    animation: blink normal 750ms infinite ease-in-out; /* Opera and prob css3 final iteration */
    animation-iteration-count: 3;
}

@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Opera and prob css3 final iteration */
/* end + + +  flash-animation-class + + + */

#divScore {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 0.33rem;
    right: 2.33rem; */
    width: auto;
    min-width: 4rem;
    height: var(--icon-size);
    font-size: 1rem;
    font-weight: 100;
    padding: 0 0.25rem;    
    border-radius: 100vmin;
    border: 4px double black;
    background-color: var(--ctrl-color);    
}

#divLevel {
    /* position: absolute;
    top: 0.33rem;
    right: 0.33rem; */
    width: var(--icon-size);
    height: var(--icon-size);
    background: var(--ctrl-color);
    border: 4px double black;
    border-radius: 100%;
    padding: 0.15rem;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: tomato;
}


.mobile-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.75rem;
    margin-top: 0.5rem;
    width: 100%;
}

.nav-edge {
    display: flex;
    gap: 1rem;
}

.navbar-icon {
    width: 2.75rem;
    height: 2.75rem;
    filter: saturate(1.1);
    cursor: pointer;
}

.navbar-icon:hover {
    filter: brightness(1.2);
    
}

.sidebar {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.orientationbar {
    position: absolute;
    bottom: 4.25rem;
    height: 1rem;
    width: 720px;
    background-image: url('../img/Background/complete.png');
    background-size: contain;
    background-color: wheat;
}

.cursor {
    height: 90%;
    width: 50%;
    border-right: 3px solid lime;
    left: 12rem;
    z-index: 101;
}

/* #imgQuit { */
.quit {
    position: absolute !important;
    top: 1rem;
    right: 1rem;
}

#imgHelp {margin-bottom: 1rem;}

/* common classes - at the end of the cascade!!! */
.flx-row1 {
    display: flex;
    flex-direction: row !important;
    gap: 1rem;
}

.flx-btw {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none;
}
/* #################################################################### */
/*                          R E S P O N S I V E                         */
/* #################################################################### */
@media only screen and (max-width: 1000px) {
    .home { padding: 2rem; }
    .home-icons { 
        margin: 1.5rem;
        width: 160px;
        height: 160px;
    }
}

@media only screen and (max-width: 850px) {
    .home { 
        padding: 1.5rem; 
        justify-content: center;
    }

    .home-icons { 
        width: 128px;
        height: 128px;
    }
    .home-icons h3 {
        font-size: 1.5rem;
    }

    .home-navbar {
        padding-top: 1rem;
        justify-content: center;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        font-size: 4rem;
    }
}

/* @media only screen and (max-width: 850px) {
    .home-icons { 
        width: 128px;
        height: 128px;
    }
    .home-icons h3 {
        font-size: 1.5rem;
    }
} */

@media only screen and (max-width: 400px) {
    .home { 
        padding: 1rem; 
        justify-content: flex-start;
    }
    .mobile {
        font-size: 3rem;
    }

    .intro h1 {
        font-size: 4rem;
    }
}

/* @media screen and (min-height: 640px) and (orientation: portrait) { 
    ...
} */

/* @media screen and (max-width: 300px) and (orientation: landscape) {  */
@media screen and (max-height: 400px) and (orientation: landscape) { 
    canvas {
        height: 390px;
        width: 720px;
    }

    .canvas-frame {
        /* width: 100vw;  */
        height: 100vh;
        overflow: hidden;
    }
    .mobile-navbar {
        position: absolute;
        bottom: 0rem;
        left: 0;
        display: flex;
        z-index: 101;
    }
}

@media only screen and (min-width: 300px) and (orientation: portrait) {
    canvas {
        height: 390px;
        width: 720px;
    }

    .canvas-frame {
        /* height and width are switched due to landscape mode !!! */
        width: 138vh; 
        height: 100vw;
        overflow: hidden;
        transform: rotate(-90deg);
    }

    .mobile-navbar {
        
        position: absolute;
        bottom: 0rem;
        left: 0;
        width: 62%;
        padding: 0 2rem;
        display: flex;
        z-index: 101;
    }
}